:root[data-theme="dark"] {
  --colors-background-default: #1c0533;
  --colors-background-system: #101015;
  --colors-background-float: #321d47;
  --colors-background-dip: #140523;
  --colors-fill-primary: #e6007a;
  --colors-fill-primary-hover: color(display-p3 0.74 0.16 0.43);
  --colors-fill-primary-down: color(display-p3 0.7 0.15 0.4);
  --colors-fill-secondary: color(display-p3 0.94 0.94 0.96);
  --colors-fill-secondary-hover: color(display-p3 0.97 0.97 0.98);
  --colors-fill-secondary-down: color(display-p3 0.94 0.94 0.96);
  --colors-fill-ghost: #321d47;
  --colors-fill-ghost-hover: color(display-p3 0.17 0.11 0.24);
  --colors-fill-ghost-down: #321d47;
  --colors-fill-match-background: #1c0533;
  --colors-fill-disabled: #ffffff0f;
  --colors-fill-danger: #fd4935;
  --colors-fill-danger-hover: color(display-p3 0.82 0.31 0.23);
  --colors-fill-danger-pressed: color(display-p3 0.78 0.29 0.22);
  --colors-fill-elevate-1: #ffffffb0;
  --colors-fill-overlay: #ffffff94;
  --colors-fill-selected: #e6eaf6;
  --colors-fill-white: #ffffff;
  --colors-fill-separator: #ffffff2b;
  --colors-border-contrast: #201f37;
  --colors-border-dimmed: #00000070;
  --colors-border-primary: #e6007a;
  --colors-border-danger: #e31902;
  --colors-border-hint: #ffffff2b;
  --colors-border-disabled: #00000029;
  --colors-border-focus: #201f37;
  --colors-foreground-contrast: #ffffff;
  --colors-foreground-dimmed: #ffffff7a;
  --colors-foreground-match-background: #1c0533;
  --colors-foreground-primary: #e6007a;
  --colors-foreground-white: #ffffff;
  --colors-foreground-disabled: #ffffff61;
  --colors-foreground-danger: #fd4935;
  --colors-foreground-emphasized: #f272b6;
  --colors-accent-cyan: #00d0ff;
  --colors-accent-green: #56f39a;
  --colors-accent-lime: #d3ff33;
  --colors-accent-random: #abcabc;
  --box-shadow-pop: 0 8px 24px 0 #00000030;
  --box-shadow-idle: 0 2px 4px 0 rgba(0, 0, 0, 0.85);
  --box-shadow-hover: 0 8px 8px 0 #00000008;
}
