:root {
  --font-family-unbounded: Unbounded;
  --font-family-inter: Inter;
  --font-family-mono: Roboto Mono;
  --line-height-h2: 32;
  --line-height-h1: 36;
  --line-height-h3: 36;
  --line-height-h4: 36;
  --line-height-h5: 40;
  --line-height-h6: 24;
  --line-height-body: 24;
  --line-height-body2: 20;
  --line-height-subtitle: 36;
  --line-height-subtitle2: 24;
  --line-height-caption: 16;
  --font-weight-unbounded-bold: 700;
  --font-weight-unbounded-medium: 500;
  --font-weight-inter-regular: 400;
  --font-weight-inter-medium: 500;
  --font-weight-inter-bold: 700;
  --font-weight-mono-regular: 400;
  --font-weight-mono-medium: 500;
  --font-size-body2: 0.875rem;
  --font-size-body: 1rem;
  --font-size-h6: 1rem;
  --font-size-h5: 1.25rem;
  --font-size-h4: 1.5rem;
  --font-size-h3: 1.75rem;
  --font-size-h2: 2rem;
  --font-size-h1: 2.25rem;
  --font-size-subtitle: 24px;
  --font-size-subtitle2: 16px;
  --font-size-caption: 12px;
  --letter-spacing-0: 0;
  --letter-spacing-1: 0.02em;
  --paragraph-spacing-0: 0;
  --text-case-none: none;
  --text-decoration-none: none;
  --colors-black: #171717;
  --colors-white: #ffffff;
  --colors-p-pink-50: #fff5fb;
  --colors-p-pink-100: #ffe4f3;
  --colors-p-pink-200: #f9abd5;
  --colors-p-pink-300: #f272b6;
  --colors-p-pink-400: #ec3998;
  --colors-p-pink-500: #e6007a;
  --colors-p-pink-600: #cb006c;
  --colors-p-pink-700: #a9005a;
  --colors-p-pink-800: #860047;
  --colors-p-pink-900: #640035;
  --colors-p-pink-950: #3f0021;
  --colors-p-gray-50: #f9f9fb;
  --colors-p-gray-100: #f3f3f6;
  --colors-p-gray-200: #e5e5eb;
  --colors-p-gray-300: #d1d1db;
  --colors-p-gray-400: #9d9caf;
  --colors-p-gray-500: #6c6b80;
  --colors-p-gray-600: #4c4b63;
  --colors-p-gray-700: #383751;
  --colors-p-gray-800: #201f37;
  --colors-p-gray-900: #121127;
  --colors-p-gray-950: #101015;
  --colors-p-red-50: #fffafa;
  --colors-p-red-100: #fff1f0;
  --colors-p-red-200: #fed2cd;
  --colors-p-red-300: #fe8d81;
  --colors-p-red-400: #fd4935;
  --colors-p-red-500: #e31902;
  --colors-p-red-600: #b21200;
  --colors-p-red-700: #7f0d00;
  --colors-p-red-800: #4c0800;
  --colors-p-red-900: #290400;
  --colors-p-red-950: #190300;
  --colors-p-white-transparent-100: #ffffff0f;
  --colors-p-white-transparent-200: #ffffff2b;
  --colors-p-white-transparent-300: #ffffff45;
  --colors-p-white-transparent-400: #ffffff61;
  --colors-p-white-transparent-500: #ffffff7a;
  --colors-p-white-transparent-600: #ffffff94;
  --colors-p-white-transparent-700: #ffffffb0;
  --colors-p-white-transparent-800: #ffffffc9;
  --colors-p-white-transparent-900: #ffffffe6;
  --colors-p-black-transparent-50: #00000008;
  --colors-p-black-transparent-100: #0000000f;
  --colors-p-black-transparent-200: #00000029;
  --colors-p-black-transparent-300: #00000040;
  --colors-p-black-transparent-400: #00000059;
  --colors-p-black-transparent-500: #00000070;
  --colors-p-black-transparent-600: #0000008c;
  --colors-p-black-transparent-700: #000000a8;
  --colors-p-black-transparent-800: #000000c7;
  --colors-p-black-transparent-900: #000000e3;
  --colors-accent-cyan-500: #00b2ff;
  --colors-accent-cyan-600: #00a6ed;
  --colors-accent-cyan-700: #0094d4;
  --colors-accent-green-500: #56f39a;
  --colors-accent-green-600: #51e591;
  --colors-accent-green-700: #48cc81;
  --colors-accent-lime-500: #d3ff33;
  --colors-accent-lime-600: #bee52e;
  --colors-accent-lime-700: #a9cc29;
  --colors-p-purple-50: #fbfcfe;
  --colors-p-purple-100: #f3f5fb;
  --colors-p-purple-200: #e6eaf6;
  --colors-p-purple-300: #dae0f2;
  --colors-p-purple-400: #6d3aee;
  --colors-p-purple-500: #552bbf;
  --colors-p-purple-600: #442299;
  --colors-p-purple-700: #321d47;
  --colors-p-purple-800: #28123e;
  --colors-p-purple-900: #1c0533;
  --colors-p-purple-925: #160527;
  --colors-p-purple-950: #140523;
}
