:root {
  --colors-background-default: #f3f5fb;
  --colors-background-system: #f9f9fb;
  --colors-background-dip: #e6eaf6;
  --colors-background-float: #ffffff;
  --colors-fill-primary: #e6007a;
  --colors-fill-primary-hover: color(display-p3 0.74 0.16 0.43);
  --colors-fill-primary-down: color(display-p3 0.7 0.15 0.4);
  --colors-fill-secondary: #321d47;
  --colors-fill-secondary-hover: color(display-p3 0.23 0.16 0.31);
  --colors-fill-secondary-down: #1c0533;
  --colors-fill-ghost: #ffffff;
  --colors-fill-ghost-hover: #f3f5fb;
  --colors-fill-ghost-down: #e6eaf6;
  --colors-fill-match-background: #f3f5fb;
  --colors-fill-disabled: #f9f9fb;
  --colors-fill-danger: #fd4935;
  --colors-fill-danger-hover: color(display-p3 0.82 0.31 0.23);
  --colors-fill-danger-pressed: color(display-p3 0.78 0.29 0.22);
  --colors-fill-elevate-1: #ffffffb0;
  --colors-fill-overlay: #ffffff94;
  --colors-fill-selected: #e6eaf6;
  --colors-fill-white: #ffffff;
  --colors-fill-separator: #00000029;
  --colors-border-contrast: #201f37;
  --colors-border-dimmed: #00000070;
  --colors-border-primary: #e6007a;
  --colors-border-danger: #e31902;
  --colors-border-hint: #9d9caf;
  --colors-border-disabled: #00000029;
  --colors-border-focus: #201f37;
  --colors-foreground-contrast: #201f37;
  --colors-foreground-dimmed: #201f37;
  --colors-foreground-match-background: #f3f5fb;
  --colors-foreground-primary: #e6007a;
  --colors-foreground-white: #ffffff;
  --colors-foreground-disabled: #9d9caf;
  --colors-foreground-danger: #e31902;
  --colors-foreground-emphasized: #f272b6;
  --colors-accent-cyan: #00d0ff;
  --colors-accent-green: #56f39a;
  --colors-accent-lime: #d3ff33;
  --colors-accent-random: #aaaaac;
  --box-shadow-pop: 0 8px 24px 0 #00000030;
  --box-shadow-idle: 0 2px 4px 0 #00000014;
  --box-shadow-hover: 0 8px 8px 0 #00000008;
}
