/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* css */
@font-face {
  font-family: Unbounded;
  src: url(/assets/Unbounded-Regular-707bbfc.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: Unbounded;
  src: url(/assets/Unbounded-Medium-707bbfc.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

html {
  font-family: Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  height: 100%;
}

/* prettier-ignore */
.font-brand .h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5 {
  font-family: Unbounded, Helvetica Neue, Helvetica, Arial, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
