@font-face {
    font-family: Unbounded;
    src: url(/assets/Unbounded-Regular-707bbfc.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: Unbounded;
    src: url(/assets/Unbounded-Medium-707bbfc.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: block
}

html {
    font-family: Unbounded,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}