.card[role=section] {
  padding: 2em;
}

@media (orientation: landscape) {
  .card {
    aspect-ratio: 4 / 3;
    max-height: 80vh;
  }
}

@media (orientation: portrait) {
  .card {
    aspect-ratio: 3 / 4;
    max-width: 80vw;
  }
}