.box {
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid;
  border-radius: 10px;
  margin: 5px 0;
}

.icon {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  margin: 5px;
  display: flex;
  flex-grow: 1;
  flex-flow: column wrap;
}

.state {
  margin: 5px;
}