.loading {
  display: flex;
  flex-direction: column;
}

.action {
  display: flex;
  align-items: center;
}

.main {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.app {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}